.navbg {
    background-color: #efefef;
}
.navcolor {
    color: black;
}
.navcolor:hover {
    color: grey;
}
.conbg {
    background-color: #efefef;
}
.rowpad {
    padding-top: 100px;
    padding-bottom: 100px;
}
.colalignright {
    text-align: right;
    padding-right: 30px;
}
.colalignleft {
    text-align: left;
    padding-left: 30px;
}
.Hello {
    /* font-family: 'tradegothiclt-bold', sans-serif; */
    font-size:100px;
    font-style: bold;
}
.Name {
    /* font-family: 'tradegothiclt-bold', sans-serif; */
    font-size:70px;
}
.typed {
    /* font-family: 'tradegothiclt-bold', sans-serif; */
}
.h1style {
    font-size: 70px;
    color: black;
    text-transform: uppercase;
}
/* .typedspan {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
/*       
@keyframes caret {
    50% {
        border-color: transparent;
    }
} */ 
.button {
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    box-sizing: content-box;
}
.button1 {
    background-color: #384549;
    border-radius: 50%;
}
.button2 {
    background-color: #5c848c;
    border-radius: 50%;
}

.buttonsatu {
    color: white;
    width: 150px;
    height: 150px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #384549;
    margin-right: 20px;
}
.buttonsatu:hover {
    background-color: #D4D4D4;
    color: black;
}
.buttondua {
    color: white;
    width: 150px;
    height: 150px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #5c848c;
}
.buttondua:hover {
    background-color: #D4D4D4;
    color: black;
}
.conbg2 {
    background-color: #D4D4D4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
}
.judul {
    font-weight: bold;
    font-size: 16px;
}
.isi {
    font-size: 14px;
}